.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category-column {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.category-header {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #e7e7e7;
  border: none;
  border-radius: 8px 8px 0 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-header:hover {
  background-color: #dcdcdc;
}

.task-card {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  color: #282c34;
  background-color: #ffffff;
  display: block; /* Changed from flex to block */
}

.task-card:last-child {
  border-bottom: none;
}

.task-card-content {
  display: block; /* Changed from flex to block */
}

.task-card-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.task-card.completed .task-card-description {
  text-decoration: line-through;
  color: #a9a9a9;
}

.task-card-description {
  margin-bottom: 0.5em; /* Space below the description */
}

.task-card-assignee {
  font-size: 0.8em; /* Smaller font size for the assignee's name */
  font-style: italic; /* Italicize the assignee's name */
  color: #555; /* Subdued color for the assignee's name */
}

.task-card button {
  margin-left: 5px;
}

.task-card form {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.task-card form input[type="text"] {
  flex-grow: 1;
}

.task-card form button {
  padding: 5px 10px;
}
